<h1>All chats</h1>
{{#if chats}}
    {{#each chats}}
        <hr>
        <div>
            <a href="/chat/{{this._id}}">{{this._id}}</a>
            {{!-- <h2>{{title}}</h2>
            <h3>{{description}}</h3>
            <p>${{price}} | Cantidad disponible: {{stock}}</p>
            {{#if status}}
            <p>Disponible</p>
            {{else}}
            <p>No disponible</p>
            {{/if}} --}}
        </div>
    {{/each}}
{{else}}
    <h1>NO HAY PRODUCTOS DISPONIBLES</h1>   
{{/if}}